@font-face { font-family: Metro-Parisien; src: url('/lib/font/CFMetroParisien-Regular.ttf'); }
@font-face { font-family: Mono-Spatial; src: url('/lib/font/MonoSpatial.ttf'); }

:root {
  --san-marino: #3C77BF;
  --sugar-cane: #F9FFF6;
}

body {
background:var(--sugar-cane);
color:#123456;
font-size:1.2rem;
margin: auto;
font-family: Georgia,serif,sans serif;
}
h1,h2,h3,h4 { font-family: Mono-Spatial; color:cornflowerblue }
h1 { font-family: Metro-Parisien,monospace,serif,sans serif;}
section { margin:auto; display:table; }
section.main { max-width:70%; }
section.index { font-size:2rem }
section.signature { font-size:1.15rem;margin-right:0; }
section.signature > p { text-align:right;margin:4px }
section.signature > p > text { text-transform:uppercase;font-weight:700; }
section.foot > p > text { font-weight:700;padding:2px;margin:2px;background:rgba(80,120,240,0.15) }
section.footnotes { width:100% }
section.link { margin:30px auto }

section.feed { margin:0 auto; display:flex;width:fit-content }
section.feed > a { margin: 20px 20px; padding:10px }
section.feed > a > img { margin:10px; }
section.feed > a:hover { filter:invert(0.5);background:rgba(80,140,240,0.25) }

p { text-align:justify }

a { color:black; text-decoration:none; border-block-end: dotted 1px cornflowerblue; }

h1>a, h2>a, h3>a { border:none }

.title { text-transform:capitalize }

sup > a { border:none }

a.index { color:cornflowerblue }

a:hover { background:cornflowerblue;color:white }
a#link-new { font-family:Metro-Parisien;font-size:4vh;padding:10px;position:absolute;top:10vh;left:2vh }

ul { list-style: circle; }
hr { border:solid 10px rgba(100,147,249,0.5) }

img { display:table;margin:20px auto; }
img.illu { max-width:500px }
img.mini { min-width:200px; margin:60px auto; }

button#publish { width:200px;height:60px;font-family:Metro-Parisien }

.button-top { padding: 2px; margin: 30px auto; background:white; display: table;border-radius: 30px; }
.button-top:hover { background:#123456; }

div#mode-evol {
 display:inline-flex;
 align-items:center;
 margin-bottom:10px;
 padding:4px
}

#mini-top { margin:auto;display:table;width:60px }

#link-home { display:flex;align-items:center;}
#link-home > a { color:#123456;border-radius:10px;margin:0 20px;
    position: absolute;
    top: 30px;
    left: 40px;
}
#link-home > a:hover { background:initial }
#link-home > a > img { transition:all .2s cubic-bezier(0, 1.3, 0.67, 0.99) }
#link-home:hover > a > img { transform:rotate(270deg) }

blockquote { display:inline-flex; display:list-item; list-style:'âœ'; color:rgb(40,80,160); }
blockquote > * { padding:5px; display:inline-flex }
blockquote:hover { background:lightskyblue; transition:all 0.2s 0.2s ease-in-out;cursor:pointer }

table { background:lightblue;border:none;color:black }

th {padding:10px;font-size:6vh;background:cornflowerblue;color:white}

pre { background:lightgrey;color:black;font-family:monospace }

section.main { width:80% }
section.foot > p, section.link > p {  padding:2px; margin:2px; padding-left:30px; display:inline-flex; }

form > * { font-size:4vh;margin:5px;padding:5px;display:flex }
form > p > text { margin:5px auto; }

.form-object { display:inline-grid; width:100%; }
textarea#content { width:auto;height:auto;min-height:50vh }

@media screen and (max-width:800px) {
* { font-size: 1.15rem; }
body { margin:10px auto;display:table;width:95% }
section { margin:auto; display:table; }
section.main { max-width:95%; }
section.index { font-size:2rem }
}
@media screen and (max-width:500px) {
* { font-size: 1.25rem; padding:2px }
body { margin:10px auto;display:table;width:95% }
p { padding:10px }
section { margin:auto; display:table }
section.main { max-width:95%; }
section.index { font-size:2rem }
}
